@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grayscale-bg {
  background-color: #333; /* GRAYSCALE PLEASE */
}

.white-text {
  color: #ffffff;
}

.grayscale-button {
  background-color: #333; /* GRAYSCALE PLEASE */
  color: #27272a;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

#grayscale-button-create-invoice {
  background-color: #333; /* GRAYSCALE PLEASE */
}

#grayscale-button-create-invoice:hover {
  background-color: #464646; /* GRAYSCALE PLEASE */
}

.grayscale-button:hover {
  background-color: #464646; /* GRAYSCALE PLEASE */
}

/* HOVER STYLES FOR BUTTONS */
button,
.button {
  transition: background-color 0.3s ease-in-out;
}

button:hover,
.button:hover {
  background-color: #5a5a5a;
}

/* INPUT FIELD OUTLINES */
input:focus {
  outline: none !important;
  border: 2px solid #ccc !important;
  outline-offset: 2px !important;
}

input:focus-visible {
  outline: none !important;
  border: 2px solid #ccc !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

/* ENSURE LINKS HAVE SIMILAR HOVER EFFECTS */
a {
  transition: color 0.3s ease-in-out;
}

a:hover {
  background-color: #5a5a5a;
}

input:focus {
  background-color: #f0f0f0; /* Light gray background */
  color: #333; /* Darker text for better contrast */
}

/* Chrome, Safari */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
  -webkit-text-fill-color: #333;
}

/* Firefox */
input:-moz-ui-autofill {
  background-color: white;
  color: #333;
}
