.tailwind-override {
  background-color: #333 !important; /* GREYSCALE PLEASE */
}

.tailwind-override-button {
  background-color: #333 !important; /* GREYSCALE PLEASE */
}

.tailwind-override-button:hover {
  color: rgb(255, 255, 255) !important;
}
